* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #eaeaea;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #282828;
    color: #fff;
    text-align: center;
    padding: 2em 0;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2em;
    animation: fadeIn 2s ease-in-out;
}

.text {
    max-width: 600px;
}

.name-link, .image-link {
    text-decoration: none;
    color: #288a7165;
    transition: color 0.3s;
}

.name-link:hover, .image-link:hover {
    color: #288a7165;
}

header h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    color: #32e1b6db;
    text-shadow: 0 0 2px #00cc99, 0 0 2px #00cc99, 0 0 5px #00cc99;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #00cc99;
    transition: transform 0.3s, border-color 0.3s;
}

.profile-image:hover {
    transform: scale(1.1);
    border-color: #ff00ff;
}

header p {
    margin: 0.5em 0;
}

header a {
    color: #fff;
    text-decoration: none;
}

main {
    flex: 1;
    width: 90%;
    margin: 0 auto;
}

section {
    padding: 2em;
    margin: 1em 0;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
    animation: slideUp 1s ease-in-out;
}

h2 {
    border-bottom: 2px solid #00cc99;
    padding-bottom: 0.5em;
    color: #00cc99;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 1em 0;
}

ul li p {
    margin: 0.5em 0;
}

ul ul {
    margin-top: 0.5em;
    padding-left: 1em;
}

footer {
    background-color: #282828;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Hover effects */
a {
    transition: color 0.3s, text-shadow 0.3s;
}

a:hover {
    color: #00cc99;
    text-shadow: 0 0 5px #00cc99;
}

.profile-image:hover {
    transform: scale(1.1);
    border-color: #ff00ff;
}
